.container {
    height: 160px;
    width: 800px;
    background-color: black;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -600%);
  }
  
  
  .bubble {
    height: calc(100% - 4px);
    width: calc(100% - 4px);  
    position: absolute;
    top: 2px;
    left: 2px;
    line-height: 100px;
    text-align: center;
    background-color: white;
    
  }
  
  .image {
    position: relative;
    right: 320px;
    top: 15px;
  }
  
  .plant {
      position: relative;
      right: 180px;
      bottom: 30px
  }
  
  .quantity {
      position: relative;
      right: 167px;
      bottom: 60px
  }
  
  .dayHarvested {
      position: relative;
      left: 193px;
      bottom: 268px
  }
  
  .expirationDate {
      position: relative;
      left: 208px;
      bottom: 300px
  }
  
  .container2 {
    height: 160px;
    width: 800px;
    background-color: black;
    top: 200px;
    position: relative;
    top: 200px;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -700%);
  }
  
  .container3 {
    height: 160px;
    width: 800px;
    background-color: black;
    position: relative;
    top: 243px;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -700%);
  }
  
  body{
    background: #93FFD8; 
    margin: 0;
    font-family: arial, sans-serif;
  }
  
  